@charset "utf-8";
/* CSS Document */

.color-primary-0 { color: #EDF4E4 }	/* Main Primary color */
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #FAFBF8 }
.color-primary-3 { color: #DCECC7 }
.color-primary-4 { color: #B8D296 }

.color-secondary-1-0 { color: #FFF1EE }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #FFFCFC }
.color-secondary-1-3 { color: #FFDED8 }
.color-secondary-1-4 { color: #E6B0A5 }

.color-secondary-2-0 { color: #D1C7D4 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #EFECEF }
.color-secondary-2-3 { color: #AE99B3 }
.color-secondary-2-4 { color: #8F6E98 }
.bg-light {
	background-color: #FFF1EE !important;
}
.bg-med {
	background-color: #D1C7D4 !important;
}
.bg-dark {
	background-color: #8F6E98 !important;
}
body {
	background-color: #FFF1EE;
	overflow-x: hidden;
}
a {
  color: #5a3863;
}
a:hover {
  color: #6c2480;
}
@font-face {
	font-family: 'Agreable';
	src: url('../webfonts/AgreableScript.woff2') format('woff2'),
         url('../webfonts/AgreableScript.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-variant-ligatures: normal;
	font-display: swap;
}
@font-face {
    font-family: 'CassiaXLig';
    src: url('../webfonts/CassiaXLig-webfont.woff2') format('woff2'),
         url('../webfonts/CassiaXLig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
header .display-1 {
	font-family: Agreable;
  	font-size: 10rem;
  	line-height: 1.2;
	color: white;
}
@media (max-width: 700px){
	header .display-1 {
    font-size: 5em;
	}
}
.display-1 {
	font-family: Agreable;
  	font-size: 5.5rem;
	color: #5a3863;
}
@media (max-width: 700px){
	.display-1 {
    font-size: 3.5rem;
	}
}
header .display-4 {
	font-family: CassiaXLig;
	font-size: 3.5rem;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.6em;
	text-indent: -0.6em;
  	direction: rtl;
}
@media (max-width: 700px){
	header .display-4 {
    font-size: 1.75em;
	}
}
header .jumbotron {
	margin-bottom: 0;
	padding: 1.5rem 1rem;
	background: rgb(143,110,152);
	background: radial-gradient(circle, rgba(143,110,152,1) 0%, rgba(143,110,152,0.5) 100%),url("../images/jumbotron_bg.jpg") no-repeat center center;;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	color: #FFFFFF;
}
.jumbotron {
	margin-bottom: 0;
	padding: 1.5rem 1rem;
}
footer {
	padding-top: 1.5rem;
}
.carousel-inner img {
	width: 100%;
	height: 100%;
}
.card-title {
	font-family: CassiaXLig;
	font-size: 1.5rem;
	font-weight: 800;
}
.card {
	border: none;
	background-color: transparent;
}
.card-text {
	font-size: 1.2rem;
}
.form-control {
	color: #5a3863;
	border: 2px dotted #8F6E98;
}
.form-control:disabled, .form-control[readonly] {
  background-color: transparent;
  opacity: 1;
}
.clear {
    clear: both;
}
clippy .copy-text button {
  padding:10px;
  background:#8F6E98;
  color:#fff;
  font-size:18px;
  border:none;
  outline:none;
  border-radius:0 10px 10px 0;
  cursor:pointer;
}
clippy .copy-text button:active {
  background:#AE99B3;
}
clippy .copy-text button:before {
  content:"Copied";
  position:absolute;
  top:-45px;
  right:0px;
  background:#8F6E98;
  padding:8px 10px;
  border-radius:20px;
  font-size:15px;
  display:none;
}
clippy .copy-text button:after {
  content:"";
  position:absolute;
  top:-20px;
  right:25px;
  width:10px;
  height:10px;
  background:#8F6E98;
  transform:rotate(45deg);
  display:none;
}
clippy .copy-text.active button:before,
clippy .copy-text.active button:after {
  display:block;
}
