@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Agreable';
	/* src: url('https://cedarcottagecakes.github.io/webfonts/AgreableScript.ttf') format('truetype'); */
	src: url('../webfonts/AgreableScript.woff2') format('woff2'),
         url('../webfonts/AgreableScript.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-variant-ligatures: normal;
	font-display: swap;
}
@font-face {
    font-family: 'CassiaXLig';
    src: url('../webfonts/CassiaXLig-webfont.woff2') format('woff2'),
         url('../webfonts/CassiaXLig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
header .display-1 {
	font-family: Agreable;
  	font-size: 10rem;
  	/* font-weight: 300; */
  	line-height: 1.2;
}
@media (max-width: 700px){
	header .display-1 {
    font-size: 5em;
	}
}
header .display-4 {
	font-family: CassiaXLig;
	font-size: 3.5rem;
	/* font-weight: 300; */
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.6em;
}
@media (max-width: 700px){
	header .display-4 {
    font-size: 1.75em;
	}
}