@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'Agreable';
	src: url('https://cedarcottagecakes.github.io/webfonts/AgreableScript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-variant-ligatures: normal;
	font-display: swap;
}
@font-face {
    font-family: 'CassiaXLig';
    src: url('https://cedarcottagecakes.github.io/webfonts/CassiaXLig-webfont.woff2') format('woff2'),
         url('https://cedarcottagecakes.github.io/webfonts/CassiaXLig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}
header .display-1 {
	font-family: Agreable;
  	font-size: 6rem;
  	/* font-weight: 300; */
  	line-height: 1.2;
}

header .display-2 {
	font-family: CassiaXLig;
	font-size: 2.3rem;
	/* font-weight: 300; */
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.6em;
}